version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      # dependencies

      # Pinned to the most popular versions
      - dependency-name: "@ts-common/fs"
      - dependency-name: "@ts-common/iterator"
      - dependency-name: "@ts-common/json"
      - dependency-name: "@ts-common/json-parser"
      - dependency-name: "@ts-common/source-map"
      - dependency-name: "@ts-common/string-map"

      # locked to ^15.4.1, since newer majors include breaking changes that may impact us
      - dependency-name: "yargs"

      # devDependencies

      # Locked to "^20.0.0" to align with our minimum node version in package.json/engines
      - dependency-name: "@types/node"
    groups:
      eslint:
        patterns:
          - "*eslint*"
