name: ci

on:
  push:
    branches: [main]
  pull_request:

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target-folder: drop-linux
          - os: windows-latest
            target-folder: drop

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "6"

      - name: npm ci
        run: npm ci

      - name: lint
        run: npm run lint

      - name: prettier
        run: npm run prettier

      - name: test
        run: npm test
